<div class="ui hidden section divider"></div>

<div class="ui centered grid">
  <div class="eight wide column">
    <div class="ui raised very padded blue segment">
      <h4 class="ui header">Sign Up</h4>
    
      <form class="ui form" ng-submit="ctrl.submit()">
        <div class="two fields">
          <div class="required field">
            <label>First Name</label>
            <div class="ui input">
              <input type="text"
                placeholder="First Name"
                ng-model="ctrl.formData.FirstName"
                spellcheck="false">
            </div>
          </div>
          <div class="required field">
            <label>Last Name</label>
            <div class="ui input">
              <input type="text"
                placeholder="Last Name"
                ng-model="ctrl.formData.LastName">
            </div>
          </div>
        </div>
    
        <div class="two fields">
          <div class="required field">
            <label>Email</label>
            <div class="ui input">
              <input type="email"
                placeholder="Email"
                ng-model="ctrl.formData.Email"
                spellcheck="false">
            </div>
          </div>
          
          <div class="required field">
            <label>Password</label>
            <div class="ui input">
              <input type="password"
                placeholder="Password"
                ng-model="ctrl.formData.Password">
            </div>
          </div>
        </div>
    
        <div class="field">
          <button class="ui mini blue compact button"
            ng-class="{loading: ctrl.requestInProgress}"
            ng-disabled="ctrl.requestInProgress">
            Sign Up
          </button>
        </div>
      </form>

      <div class="ui hidden divider"></div>

      <p>Already have an account » <a ui-sref="signIn">Sign In</a></p>
    </div>
  </div>
</div>