<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>
<div class="ui grid">
    <div class="thirteen wide centered column">
        <div class="ui padded segment">
            <h3 class="ui header">Edit User Details</h3>

            <div class="ui hidden divider"></div>

            <form class="ui form" ng-submit="ctrl.save()">
                <div class="two fields">
                    <div class="required field">
                        <label>Name</label>
                        <div class="ui input">
                            <input placeholder="Name" ng-model="ctrl.userDetails.Name">
                        </div>
                    </div>
                    
                    <div class="required field">
                        <label>Phone</label>
                        <div class="ui input">
                            <input placeholder="Phone" ng-model="ctrl.userDetails.Phone">
                        </div>
                    </div>
                </div>

                <div class="two fields">
                    <div class="required field">
                        <label>Email</label>
                        <div class="ui input">
                            <input placeholder="Email" type="email" ng-model="ctrl.userDetails.Email">
                        </div>
                    </div>
                </div>
                
                <div class="field">
                    <button 
                        class="ui mini blue compact button"
                        ng-class="{loading: ctrl.requestInProgress}"
                        ng-disabled="ctrl.requestInProgress">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="ui grid">
    <div class="thirteen wide centered column">
        <div class="ui padded segment">
            <h3 class="ui header">Friends</h3>
            <div class="ui hidden divider"></div>
            <div class="ui list" ng-repeat="friend in ctrl.userDetails.Friends track by $index">
                <div class="item">
                  <i class="user icon"></i>
                  <div class="content">
                    {{friend.Name}}
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>