<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>
<div class="ui grid">
    <div class="thirteen wide centered column">
        <div class="ui padded segment">
            <h3 class="ui header">{{ctrl.userDetails.Name}}'s Details</h3>

            <div class="ui hidden divider"></div>

            <form class="ui form" ng-submit="ctrl.save()">
                <div class="two fields">
                    <div class="required field">
                        <label>Name</label>
                        <div class="ui disabled input">
                            <input placeholder="Name" ng-model="ctrl.userDetails.Name">
                        </div>
                    </div>
                    
                    <div class="required field">
                        <label>Phone</label>
                        <div class="ui disabled input">
                            <input placeholder="Phone" ng-model="ctrl.userDetails.Phone">
                        </div>
                    </div>
                </div>

                <div class="two fields">
                    <div class="required field">
                        <label>Email</label>
                        <div class="ui disabled input">
                            <input placeholder="Email" type="email" ng-model="ctrl.userDetails.Email">
                        </div>
                    </div>
                </div>
                
                <div class="field">
                    <button 
                        class="ui mini blue compact button"
                        ng-class="{loading: ctrl.requestInProgress}"
                        ng-disabled="ctrl.requestInProgress"
                        ng-if="ctrl.userDetails.Status === ''"
                        ng-click="ctrl.sendFriendRequest()">
                        Send Friend request
                    </button>
                    <button 
                        class="ui mini blue compact button"
                        ng-class="{loading: ctrl.requestInProgress}"
                        ng-disabled="ctrl.requestInProgress"
                        ng-if="ctrl.userDetails.Status == 'Friend Request Approved'">
                        Remove Friend
                    </button>
                    <button 
                        class="ui mini blue compact disabled button"
                        ng-if="ctrl.userDetails.status != 'Friend Request Approved' && 
                            ctrl.userDetails.Status != ''">
                        {{ctrl.userDetails.Status}}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>