 <table class="ui striped small borderlesss table">
    <thead>
        <tr>
            <h4 class="ui header">Registered Users</h4>
            <th class="right aligned" colspan="6">
                <button class="ui small blue compact button"
                    id="deleteButton"  
                    ng-click="ctrl.toggleDeleteUserModal()">
                    Delete Profile
                </button>
            </th>
        </tr>
        <tr>
            <div class="ui action input">
                <input type="text" placeholder="Search Users..." 
                    ng-model="ctrl.filters.searchBy">
                <button class="ui blue button" 
                    ng-click="ctrl.getUsers()">
                    Search
                </button>
            </div>
        </tr>
        <tr>
            <th class="crscr" ng-click="ctrl.toggleOrderBy('name')">
                Name
                <span ng-if="ctrl.filters.OrderBy === 'name'">
                    <i class="caret up icon" ng-if="ctrl.filters.SortBy === 'ASC'"></i>
                    <i class="caret down icon" ng-if="ctrl.filters.SortBy === 'DESC'"></i>
                </span>
            </th>
            <th class="crscr" ng-click="ctrl.toggleOrderBy('created_at')">
                Date Created
                <span ng-if="ctrl.filters.OrderBy === 'created_at'">
                    <i class="caret up icon" ng-if="ctrl.filters.SortBy === 'ASC'"></i>
                    <i class="caret down icon" ng-if="ctrl.filters.SortBy === 'DESC'"></i>
                </span>
            </th>
            <th class="crscr" ng-click="ctrl.toggleOrderBy('email')">
                Email
                <span ng-if="ctrl.filters.OrderBy === 'email'">
                    <i class="caret up icon" ng-if="ctrl.filters.SortBy === 'ASC'"></i>
                    <i class="caret down icon" ng-if="ctrl.filters.SortBy === 'DESC'"></i>
                </span>
            </th>
            <th class="wide">
                Actions
            </th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td colspan="9" ng-if="ctrl.users.length === 0">
                No Users
            </td>
        </tr>
        <tr ng-repeat="user in ctrl.users track by $index">
            <td ng-bind="user.Name"></td>
            <td ng-bind="user.CreatedAt | date: 'dd/MM/yy'"></td>
            <td ng-bind="user.Email"></td>
            <td>
                <a class="ui mini icon compact button" 
                    title="View" 
                    ui-sref="user.view({userID: user.ID})">
                View
                </a>
            </td>
        </tr>
    </tbody>
</table>

<div class="ui basic modal">
    <div class="ui icon header">
      <i class="archive icon"></i>
      Delete User
    </div>
    <div class="content">
      <p>Are you sure that you want to delete your profile?</p>
    </div>
    <div class="actions">
      <div class="ui red basic cancel inverted button">
        <i class="remove icon"></i>
        Cancel
      </div>
      <div class="ui green ok inverted button" ng-click="ctrl.deleteUser()">
        <i class="checkmark icon"></i>
        Delete
      </div>
    </div>
</div>